body {

  background-color: #2f4f4f;
}
.main{
  text-align: center;
  margin: auto;

}
h1 {
  margin: 30px;
  font-family: 'Sacramento', cursive;
  font-size: 8rem;
  color: #4ECCA3;
  text-shadow: 5px 0 #232931;
}


.p {
  text-align: center;
  display: inline-block;
  padding-bottom: 100px;
}
p{
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img{
  width: 150px;
  height: 150px;
}
.butn {
    background: #4ecca3;
    font-family: "Indie Flower", cursive;
    border-radius: 7px;
    color: #ffff;
    font-size: 30px;
    padding: 16px 25px 16px 25px;
    text-decoration: none;
    display: block;
    margin: auto;
}

.butn:hover {
    background: #232931;
    text-decoration: none;
}
